.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.searchBar.searchBar {
  left: 4.1667%;
  right: 4.7222%;
  top: 21.875%;
  bottom: 71.125%;
  background-color: #efffef, #fffbfe;
}
.w {
  color: #49454f;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.filter.filter {
  left: 25px;
  top: 287px;
}
.collapse_light.collapse_light {
  left: 253px;
  top: 263px;
}
.button.button {
  left: 170px;
  top: 379px;
  background-color: #c2ffc0;
  box-shadow: initial;
}
.labelText {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.button2.button2 {
  left: 170px;
  top: 511px;
  background-color: #c2ffc0;
  box-shadow: initial;
}
.labelText2 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.button3.button3 {
  left: 105px;
  top: 163px;
  background-color: #c2ffc0;
  box-shadow: initial;
}
.labelText3 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 360px;
  height: 800px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.frame1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 53px;
  align-items: flex-start;
  overflow: hidden;
}
.rectangle1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 53px;
  background-color: #c2ffc0;
}
.beECO {
  color: #000;
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 139px;
  top: 12px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.container {
  position: absolute;
  left: 10px;
  top: 7px;
  width: min-content;
  height: min-content;
  border-radius: 100px;
  overflow: hidden;
}
.stateLayer {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px;
}
.frame12 {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 53px;
  align-items: flex-start;
  overflow: hidden;
}
.rectangle12 {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 53px;
  background-color: #c2ffc0;
}
.beECO2 {
  color: #000;
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 139px;
  top: 12px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.container2 {
  position: absolute;
  left: 10px;
  top: 7px;
  width: min-content;
  height: min-content;
  border-radius: 100px;
  overflow: hidden;
}
.stateLayer2 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px;
}
.dostepneNagrody {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16px;
  top: 83px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.masz1337Punktow {
  position: absolute;
  left: 16px;
  top: 113px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #0db007;
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label3 {
  color: #000;
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.fi {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  left: 61px;
  top: 261px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fi2 {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  left: 283px;
  top: 263px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.image5 {
  position: absolute;
  left: 25px;
  top: 316px;
  width: 87.0482px;
  height: 85px;
  background-image:/* webpackIgnore: true */ url('/assets/image5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divider {
  transform-origin: bottom left;
  position: absolute;
  left: 0;
  top: 303px;
  width: 360px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #cac4d0;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.divider2 {
  transform-origin: bottom left;
  position: absolute;
  left: -1px;
  top: 428px;
  width: 360px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #cac4d0;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.biedronka {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 94px;
  top: 317px;
  width: 249px;
  height: 23px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.roweryMiejskie {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 94px;
  top: 444px;
  width: 249px;
  height: 23px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._10200Pkt {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 94px;
  top: 350px;
  width: 249px;
  height: 18px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.divider3 {
  transform-origin: bottom left;
  position: absolute;
  left: -1px;
  top: 560px;
  width: 360px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #cac4d0;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
._10200Pkt2 {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 94px;
  top: 482px;
  width: 249px;
  height: 18px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.image6 {
  position: absolute;
  left: 25px;
  top: 458px;
  width: 84.0341px;
  height: 85px;
  background-image:/* webpackIgnore: true */ url('/assets/image6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle3 {
  position: absolute;
  left: 13px;
  top: 71px;
  width: 330px;
  height: 591px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #f3f0f5;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.nieChceszReklam {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 53px;
  top: 121px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.jedyne20Dozywotnio {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43px;
  top: 238px;
  width: 249px;
  height: 23px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.regulaminUsUgi {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50px;
  top: 306px;
  width: 249px;
  height: 23px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.loremIpsumDolorSitAmetConsecte {
  color: #000;
  font-size: 15px;
  font-weight: 100;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 29px;
  top: 346px;
  width: 295px;
  height: 288px;
  flex-direction: column;
}
