.root {
  position: absolute;
  left: 0;
  top: 0;
  width: min-content;
  height: min-content;
  flex-direction: column;
  border-radius: 100px;
  background-color: #6750a4;
  overflow: hidden;
  box-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
}
.stateLayer {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 10px 24px;
  background-color: #ffffff14;
}
.labelText {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
